<div class="col-12">
    <div class="card">
        <div class="card-body">

            <p class="card-text"><i class="bi bi-arrow-left" (click)="parent()" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                <b style="text-align: center;">ADD PARENT/GUARDIANS</b>
            </p>
        </div>
    </div>
</div>
<div class="card">
    <div class="container flex-grow-1 flex-shrink-0 py-5">
        <h5 class="card-title">ADD PARENT/GUARDIANS</h5>
        <form [formGroup]="parentinfo" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-12 col-lg-12">
                    <div class="row">
                        <div class="col-6 col-lg-6 mt-3">
                            <div class="form-floating mx-auto px-auto my-auto py-auto">
                                <input type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.parent_name.errors }"
                                    id="floatingInputCompanynameV1" placeholder="Parent Name*"
                                    formControlName="parent_name">
                                <label for="exampleInputCompanynameV1" class="form-label">
                                    Parent Name </label>
                                <div *ngIf="submitted && f.parent_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.parent_name.errors.required">Parent Name is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-6 mt-3">
                            <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                <input type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                                    id="floatingInputCompanynameV1" placeholder="Mobile" formControlName="mobile">
                                <label for="exampleInputCompanynameV1" class="form-label"> {{ 'mobile.title'
                                    | translate }}
                                </label>
                                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.mobile.errors.required">Mobile Number is Required.
                                        [Include Country Code For Eg.+91 For India]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="row">
                        <div class="form-group col-6 mt-3">
                            <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                <input type="text" class="form-control"
                                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                    id="floatingInputCompanynameV1" placeholder="Email" formControlName="email">
                                <label for="exampleInputCompanynameV1" class="form-label"> {{ 'email.title'
                                    | translate }}
                                </label>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">
                                        Email must be a valid email address
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-6 mt-3">
                            <div class="form-floating mx-auto px-auto my-auto py-auto">
                                <select class="form-select" [ngClass]="{ 'is-invalid': submitted && f.relation.errors }"
                                    aria-placeholder="Company Status" formControlName="relation">
                                    <option value="" selected></option>
                                    <option value="1"> Mother </option>
                                    <option value="2"> Father </option>
                                    <option value="3"> Brother </option>
                                    <option value="4"> Sister </option>
                                    <option value="5"> Grand-Father </option>
                                    <option value="6"> Grand- Mother </option>
                                    <option value="7"> Guardian </option>
                                </select>
                                <label for="floatingSelectCompanystatusV1"> Relation
                                </label>
                                <div *ngIf="submitted && f.relation.errors " class="invalid-feedback">
                                    <div *ngIf="f.relation.errors.required">Select Relation
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
            <div class="text-center mt-3">
                <button class="btn btn-primary mr-1" style="float: right;"> Submit
                </button>
            </div>
        </form>
    </div>
</div>