<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">Results</b><b style="float: right;">R.N.G.P.I.T</b>
                    <i class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="background-color:darkslateblue;">
                            <div class="card m-3" style="border-radius: 0.25rem;">
                                <div class="card-body col-12" style="text-align: center;">
                                    <h5 class="card-text"> <i class="bi bi-file-earmark-bar-graph"></i> Your Academic
                                        Attendence Performance in Calender year 2021 - 2022</h5>
                                </div>
                                <div class="card-text m-2">
                                    <small><b>Enrollment/Roll Number:</b> 190843131009</small><br>
                                    <small><b>Name:</b> Tailor Krunal T</small><br>
                                    <small><b>Exam:</b> BE-SEM-8 Regular [DEC-2021]</small><small class="m-2">
                                        <b>Attendencesheet Declared on:</b> 22 May 2022</small><br>
                                    <small><b>Branch:</b> Computer Science and Engineering</small><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="background-color:darkslateblue;">
                            <div class="card m-3" style="border-radius: 0.25rem;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Subject Code</th>
                                            <th scope="col">Subject Name</th>                                
                                            <th scope="col">January</th>
                                            <th scope="col">February</th>
                                            <th scope="col">March</th>
                                            <th scope="col">April</th>                              
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">3183101</th>
                                            <td>Internship/Project</td>
                                            <td>100%</td>
                                            <td>100%</td>
                                            <td>100%</td>
                                            <td>100%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card m-3" style="border-radius: 0.25rem; text-align: center;">
                                <h4 class="card-text" style="color:yellowgreen;"> Congratulations! You've Crossed the
                                    Attendence Creteria with Flying Colours.</h4>
                                    <small style="color:red;">Special Note: This Report only consist the 12-Weeks Internship/Project Attendence as Per University Guidelines.</small>
                            </div>
                        </div>
                        <button class="btn btn-info" onclick="window.print()">Print</button>
                    </div>
                </div>
            </div>
        </div>
        <h6 style="text-align: center;"> <i class="bi bi-dot" style="color: red;"></i> Note: This is a Computer
            generated provisional Attendence, please consider the Hard-copy Attendencesheet as Attendence result.</h6>
        <h6 style="text-align: center;"> <i class="bi bi-dot" style="color: red;"></i> Note: Attendence queries will
            be entertained till 3-days from the Attendencesheet declaration date. No result Attendence will be
            entertained
            afterwords.</h6>
    </div>
</div>