<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">Circulars <i class="bi bi-dot"></i> Academic Circulars</b><b
                        style="float: right;">R.N.G.P.I.T</b>
                    <i class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Academic Circulars
                    <button type="button" class="btn btn-sm btn-outline-primary" 
                    data-toggle="modal" data-target="#exampleModal" style="float: right;border: 0px;"><i
                        class="bi bi-plus-circle-dotted"></i>
                    Add Circular</button></h4>
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="background-color:lightblue;">
                            <h4 class="card-title m-3">Current Semester Circulars</h4>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i>Academic
                                        Calender 2021 - 2022</small>
                                    <a style="float: right;"
                                        href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/Updated%20AC_334252.pdf"
                                        target="_blank"><i class="bi bi-filetype-pdf"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i>Regarding
                                        E-Assessment of Answer Scripts</small>
                                    <a style="float: right;"
                                        href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/doc02006320220308150813_768938.pdf"
                                        target="_blank"><i class="bi bi-filetype-pdf"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i>Extension of Registration for international Experience program (IEP) 2022 for various branches </small>
                                    <a style="float: right;"
                                        href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/Extension%20Circular%201_798650.pdf"
                                        target="_blank"><i class="bi bi-filetype-pdf"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i>Circular to fill convocation form & fees before submission of Exam form fees</small>
                                    <a style="float: right;"
                                        href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/Circular%20to%20fill%20convocaiton%20form%20&%20fees%20before%20submission%20of%20Exam%20form%20fees(1)_781759.pdf"
                                        target="_blank"><i class="bi bi-filetype-pdf"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i>Creation of Educational resources for blind students</small>
                                    <a style="float: right;"
                                        href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/creation%20of%20Educational%20Resources%20for%20blind_158614.pdf"
                                        target="_blank"><i class="bi bi-filetype-pdf"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 style="text-align: center;"> <i class="bi bi-dot" style="color: red;"></i> Note: Visit Daily for
                    Fresh Circulars.<br>
                </h6>
            </div>
        </div>
    </div>
</div>