<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">Results</b><b style="float: right;">R.N.G.P.I.T</b>
                    <i class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="background-color:darkslateblue;">
                            <div class="card m-3" style="border-radius: 0.25rem;">
                                <div class="card-body col-12" style="text-align: center;">
                                    <h5 class="card-text"> <i class="bi bi-file-earmark-bar-graph"></i> Your Academic
                                        Performance in Calender year 2021 - 2022</h5>
                                </div>
                                <div class="card-text m-2">
                                    <small> <b>Enrollment/Roll Number:</b> 190843131009</small><br>
                                    <small> <b>Name:</b> Tailor Krunal T</small><br>
                                    <small> <b>Exam:</b> BE-SEM-8 Regular [DEC-2021]</small><small class="m-2">
                                        <b>Declared on:</b> 22 May 2022</small><br>
                                    <small> <b>Branch:</b> Computer Science and Engineering</small><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="background-color:darkslateblue;">
                            <div class="card m-3" style="border-radius: 0.25rem;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Subject Code</th>
                                            <th scope="col">Subject Name</th>
                                            <th scope="col">Practical Grade</th>
                                            <th scope="col">Theroy Grade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">3183101</th>
                                            <td>Internship/Project</td>
                                            <td>AA</td>
                                            <td>AA</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card m-3" style="border-radius: 0.25rem; text-align: center;">
                                <h4 class="card-text" style="color:yellowgreen;"> Congratulations! You've Passed with
                                    Flying Colours.</h4>
                            </div>
                        </div>
                        <button class="btn btn-info" onclick="window.print()">Print</button>
                    </div>
                </div>
            </div>
        </div>
        <h6 style="text-align: center;"> <i class="bi bi-dot" style="color: red;"></i> Note: This is a Computer
            generated provisional result, please consider the Hard-copy Gradesheet as final result.</h6>
        <h6 style="text-align: center;"> <i class="bi bi-dot" style="color: red;"></i> Note: Result queries will
            be entertained till 15-days from the Result declaration date. No result queries will be entertained
            afterword.</h6>
    </div>
</div>