<div class="card">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">{{ 'Users_summary.title' | translate }}</h4>
                <h5 class="card-subtitle text-muted">{{ 'yearly_users_summary.title' | translate }}</h5>
            </div>
        </div>
        <div class="row mt-4">
            <!-- column -->
            <div class="col-lg-12">
                <div>
                    <div class="d-flex flex-column w-100">
                        <apx-chart [series]="salesChartOptions.series" [chart]="salesChartOptions.chart"
                            [xaxis]="salesChartOptions.xaxis" [yaxis]="salesChartOptions.yaxis"
                            [grid]="salesChartOptions.grid" [stroke]="salesChartOptions.stroke"
                            [tooltip]="salesChartOptions.tooltip" [dataLabels]="salesChartOptions.dataLabels"
                            [legend]="salesChartOptions.legend" [colors]="salesChartOptions.colors"
                            [markers]="salesChartOptions.markers">
                        </apx-chart>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>
    </div>
</div>