<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">List of Library Issued Book</h4>
                <h5 class="card-subtitle">The Following books are issued by library</h5>
            
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Book Id</th>
                        <th class="text-dark font-medium fs-4">Book Title</th>
                        <th class="text-dark font-medium fs-4">Author</th>
                        <th class="text-dark font-medium fs-4">Issued Date</th>
                        <th class="text-dark font-medium fs-4">Status</th>
                        <th class="text-dark font-medium fs-4">Returned Date</th>
                        <th class="text-dark font-medium fs-4">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ts of topSelling'>
                        
                        <td class="fs-4">{{ts.bookid}}</td>
                        <td class="fs-4">{{ts.bookname}}</td>
                        <td class="fs-4">{{ts.author}}</td>
                        <td class="fs-4">{{ts.issued_date}}</td>
                        <td>
                            <span class="p-2 bg-{{ts.status}} rounded-circle d-inline-block ms-3"></span>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal">{{ts.returned_date}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{ts.remarks}}</h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
    </div>
</div>