<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">Transportation Facility</b><b style="float: right;">R.N.G.P.I.T</b>
                    <i class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i>
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 mt-2">
        <div class="card">
            <div class="row">
                <div class="card col-2 m-3">
                    <div class="card">
                        <img src="../../../../../assets/images/users/user4.jpg" style="border-radius: 50%;">
                    </div>
                </div>
                <div class="card-body col-9 mt-5">
                    <h4 class="card-title">Hello, <b>Krunal</b>. your organizational transportation details are as follow: -</h4>
                    <p class="card-text">Your Route Number is: <b>1</b></p>
                    <p class="card-text">Your Bus Driver Name is: <b>Dipak Bhai</b></p>
                    <p class="card-text">Your Bus Number is: <b>GJ 19 SS 8521</b></p>
                    <p class="card-text">Note: organization Timings: <b>10:00 AM - 05:10 PM</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Route : 1</h5>
                <h6 class="card-subtitle mb-2 text-muted"><b><i class="bi bi-geo-alt-fill"></i> R.N.G.P.I.T</b></h6>
                <p class="card-text"><i class="bi bi-three-dots-vertical" style="text-align: center;"></i> <br>
                    <i class="bi bi-geo-fill"></i> Dhulia Chokdi <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Linear Bus Stand <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Alankar Multiplex <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-pin-map-fill" style="color: red;"></i> Railway Station <br>
                    <i class="bi bi-three-dots-vertical" style="color: blue;"></i> <br>
                    <i class="bi bi-geo-fill"></i> Swami Narayan Mandir <br>
                    <i class="bi bi-three-dots-vertical" style="color: blue;"></i> <br>
                    <i class="bi bi-geo-fill"></i> Jalaram Mandir <br>
                    <i class="bi bi-three-dots-vertical" style="color: blue;"></i> <br>
                    <i class="bi bi-geo-fill"></i> Court <br>
                    <i class="bi bi-three-dots-vertical" style="color: blue;"></i> <br>
                </p>

                <h6 class="card-subtitle mb-2 text-muted"><b><i class="bi bi-geo-alt-fill" style="color: red;"></i>
                        R.N.G.P.I.T</b></h6>
            </div>
            <h6 style="text-align: center;"> Note: <i class="bi bi-pin-map-fill" style="color: red;"></i> shows your
                pickup point & <i class="bi bi-geo-alt-fill" style="color: red;"></i> shows your destination point.
            </h6>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Transportation Fees</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" style="background-color: antiquewhite; border-radius: 0.25rem;">
                                <h4 class="card-title">Odd Semester</h4>
                                <small class="card-text"><i class="bi bi-clock"></i> Route - 1, 08:45 AM - 05:45
                                    PM</small>
                                <small class="card-text"><i class="bi bi-cash m-2"></i>3000 ₹ / Semester</small><br>
                                <small class="card-text"><i class="bi bi-clock"></i> Route - 2, 08:45 AM - 05:45
                                    PM</small>
                                <small class="card-text"><i class="bi bi-cash m-2"></i>3000 ₹ / Semester</small><br>
                                <small class="card-text"><i class="bi bi-clock"></i> Route - 1, 09:15 AM - 05:20
                                    PM</small>
                                <small class="card-text"><i class="bi bi-cash m-2"></i>3500 ₹ / Semester</small><br>
                                <small class="card-text"><i class="bi bi-clock"></i> Route - 2, 09:15 AM - 05:20
                                    PM</small>
                                <small class="card-text"><i class="bi bi-cash m-2"></i>3500 ₹ / Semester</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" style="background-color: aqua; border-radius: 0.25rem;">
                                <h4 class="card-title">Even Semester</h4>
                                <small class="card-text"><i class="bi bi-clock"></i> Route - 1, 08:45 AM - 05:45
                                    PM</small>
                                <small class="card-text"><i class="bi bi-cash m-2"></i>2500 ₹ / Semester</small><br>
                                <small class="card-text"><i class="bi bi-clock"></i> Route - 2, 08:45 AM - 05:45
                                    PM</small>
                                <small class="card-text"><i class="bi bi-cash m-2"></i>2500 ₹ / Semester</small><br>
                                <small class="card-text"><i class="bi bi-clock"></i> Route - 1, 09:15 AM - 05:20
                                    PM</small>
                                <small class="card-text"><i class="bi bi-cash m-2"></i>3000 ₹ / Semester</small><br>
                                <small class="card-text"><i class="bi bi-clock"></i> Route - 2, 09:15 AM - 05:20
                                    PM</small>
                                <small class="card-text"><i class="bi bi-cash m-2"></i>3000 ₹ / Semester</small>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 style="text-align: center;"> <i class="bi bi-dot" style="color: red;"></i> Note: Buses will
                    run in between Breaks accrodingly.<br> Contact Admin Department for Further Details.
                </h6>
            </div>
        </div>
    </div>
</div>