<!-- main app container -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;<b
                        style="text-align: center;">Study Material</b> <b style="float: right;">Computer Science &
                        Engineering</b><i class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/images/ML_250x250.jpg" class="card-img-top" alt="Machine Learning">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Machine Learning</h5>
                <p class="card-text">Subject Faculty: <small><b> Mr. Vivek Joshi </b></small></p>
                <a class="btn btn-success" style="float: left;">Open</a>
                <a class="btn btn-danger" style="float: right;">Leave</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/images/AI_250x250.jpg" class="card-img-top" alt="Artificial Intelligence">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Artificial Intelligence</h5>
                <p class="card-text">Subject Faculty:<small><b> Mr. Hemang Shah </b></small></p>
                <a class="btn btn-success" style="float: left;">Open</a>
                <a class="btn btn-danger" style="float: right;">Leave</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/images/Android_250x250.jpg" class="card-img-top"
                alt="Mobile Application Development">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Android Development</h5>
                <p class="card-text">Subject Faculty:<small><b> Mr. Nikunj Kansara </b></small></p>
                <a class="btn btn-success" style="float: left;">Open</a>
                <a class="btn btn-danger" style="float: right;">Leave</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/images/CD_250x250.jpg" class="card-img-top" alt="Compiler Design">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Compiler Design</h5>
                <p class="card-text">Subject Faculty:<small><b> Ms. Bhavini Bhatt </b></small></p>
                <a class="btn btn-success" style="float: left;">Open</a>
                <a class="btn btn-danger" style="float: right;">Leave</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/images/CN_250x250.jpg" class="card-img-top" alt="Computer Networks">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Computer Networks</h5>
                <p class="card-text">Subject Faculty:<small><b> Mr. Dhaval Rana </b></small></p>
                <a class="btn btn-success" style="float: left;">Open</a>
                <a class="btn btn-danger" style="float: right;">Leave</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/images/CG_250x250.jpg" class="card-img-top" alt="Computer Graphics">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Computer Graphics</h5>
                <p class="card-text">Subject Faculty:<small><b> Mr. Hemang Shah </b></small></p>
                <a class="btn btn-success" style="float: left;">Open</a>
                <a class="btn btn-danger" style="float: right;">Leave</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/images/DS_250x250.jpg" class="card-img-top" alt="Data Structures">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Data Structures</h5>
                <p class="card-text">Subject Faculty:<small><b> Ms. Vaibhavi Solanki </b></small></p>
                <a class="btn btn-success" style="float: left;">Open</a>
                <a class="btn btn-danger" style="float: right;">Leave</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/images/DBMS_250x250.jpg" class="card-img-top"
                alt="Database Management System">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Operating System</h5>
                <p class="card-text">Subject Faculty:<small><b> Mr. Bhavin Kayasth </b></small></p>
                <a class="btn btn-success" style="float: left;">Open</a>
                <a class="btn btn-danger" style="float: right;">Leave</a>
            </div>
        </div>
    </div>
</div>