<h4 class="font-medium mb-3">Basic Card</h4>
<!-- Row -->
<div class="row">
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/images/bg/bs1.png" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title">Create New Customer</h4>
        <p class="card-text">
          Click the button below to create new User.
        </p>
        <a href="javascript:void(0)" class="btn btn-outline-success">Create Customer</a>
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/images/bg/bs3.png" alt="Card image cap" >
      <div class="card-body">
        <h4 class="card-title">Create New Distributor</h4>
        <p class="card-text">
          Click the button below to create new Distributor.
        </p>
        <a href="javascript:void(0)" class="btn btn-outline-success">Create Distributor</a>
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/images/bg/bs2.jpg" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title">Create New Agent</h4>
        <p class="card-text">
          Click the button below to create new Agent.
        </p>
        <a href="javascript:void(0)" class="btn btn-outline-success">Create Agent</a>
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/images/bg/bs4.png" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title">Create New Admin</h4>
        <p class="card-text">
          Click the button below to create new Admin.
        </p>
        <a href="javascript:void(0)" class="btn btn-outline-success">Create Admin</a>
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
</div>

<!-- Row -->

<h4 class="font-medium my-3">Our Services</h4>
<!-- Row -->
<div class="row">
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h4 class="card-title text-white">Mobile App Development</h4>
        <p class="card-text">
          Having a mobile app nowadays multiplies the chances to boost your business revenue. We offer mobile app
          development services. We Provide custom mobile app development services as per the client's requirement.
        </p>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-xl-6">
    <!-- Card -->
    <div class="card bg-info text-white">
      <div class="card-body">
        <h4 class="card-title text-white">Web Development</h4>
        <p class="card-text">
          We provide Effective, pleasant & qualitative web solutions for your Business. Looking for a Static, Dynamic or
          Responsive website? We have all flavors to fit your requirements.
        </p>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card bg-success text-white">
      <div class="card-body">
        <h4 class="card-title text-white">UI/UX Designing</h4>
        <p class="card-text">
          UI designing is an integral and important part of the Web and App development process. We here build a
          “dynamic” and “eye catching” designs with a team of creative designer who uses photoshop,Adobe xd, figma,
          zeplin, sketch etc.
        </p>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card bg-danger text-white">
      <div class="card-body">
        <h4 class="card-title text-white">E-Commerce Solutions</h4>
        <p class="card-text">
          Looking for an E-Commerce Solution, We provide complete E-commerce solutions that include the web, mobile
          commerce, and social commerce services to build your store online. Our core E-commerce services are mainly
          based on the Firebase, Opencart, Woo-commerce, and Shopify platforms.
        </p>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card bg-light-primary">
      <div class="card-body">
        <h4 class="card-title">Search Engine Optimization</h4>
        <p class="card-text">
          Search Engines are the most effective way to get your website noticed by potential customers. Our professional
          SEO services will increase Google rankings of your website. Getting a top rank in Google means more business.
        </p>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card bg-light-info">
      <div class="card-body">
        <h4 class="card-title">Domain Registration & Web Hosting</h4>
        <p class="card-text">
          Looking for Domain Name Registration of your company, We provide domain names registration and website hosting services.
        </p>
      </div>
    </div>
    <!-- Card -->
  </div>
</div>
<!-- Row -->