<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{ 'daily_activity.title' | translate }}</h4>
        <h5 class="card-subtitle text-muted">{{ 'daily_notifications.title' | translate }}</h5>
        <div class="feed-widget mt-4">
            <ul class="list-unstyled feed-body m-0">
                <li class="feed-item d-flex align-items-center mb-3" *ngFor='let feed of feeds'>
                    <div class="feed-icon round round-sm text-white d-flex align-items-center justify-content-center rounded-circle {{feed.class}}">
                        <i class={{feed.icon}}></i>
                    </div>
                    <h5 class="mb-0 fw-normal ms-3">{{feed.task}}</h5>
                    <span class="text-muted ms-auto fs-2"> {{feed.time}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>