<!-- main app container -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">Daily Quotes</b>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../../assets/images/quotes/1.png" class="d-block w-100">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/2.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/3.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/4.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/5.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/6.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/7.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/8.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/9.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/10.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/11.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/12.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/13.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/14.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/15.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/16.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/17.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/18.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/19.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/20.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/2.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/21.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/22.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/23.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/24.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/25.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/26.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/27.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/28.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/29.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/30.png" class="d-block w-100" >
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/quotes/31.png" class="d-block w-100" >
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
        </div>
    </div>
</div>



