<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ 'list_clients.title' | translate }}
                    <button type="button" class="btn btn-sm btn-outline-success" (click)="createclient()"
                        data-toggle="modal" data-target="#exampleModal" style="float: right;border: 0px;"><i
                            class="bi bi-plus-circle-dotted"></i>
                            {{ 'add_client.title' | translate }}</button>
                </h4>
                <div class="table-responsive">
                    <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">{{ 'client_name.title' | translate }}</th>
                                <th class="text-dark font-medium fs-4">{{ 'product.title' | translate }}</th>
                                <th class="text-dark font-medium fs-4">{{ 'status.title' | translate }}</th>
                                <th class="text-dark font-medium fs-4">{{ 'weeks.title' | translate }}</th>
                                <th class="text-dark font-medium fs-4">{{ 'budget.title' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let ts of topSelling'>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img [src]=ts.image alt="user" width="45" class="rounded-circle">
                                        <div class="ms-3">
                                            <h5 class="mb-0 font-medium">{{ts.uname}}</h5>
                                            <span class="text-muted">{{ts.gmail}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="fs-4">{{ts.productName}}</td>
                                <td>
                                    <span class="p-2 bg-{{ts.status}} rounded-circle d-inline-block ms-3"></span>
                                </td>

                                <td>
                                    <h5 class="mb-0 fw-normal">{{ts.weeks}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{ts.budget}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>