<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">Fees Portal</b>

                    
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 mt-2">
        <div class="card">
                <div class="card m-3">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
                </div>
        </div>
    </div>
</div>