<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../Superadmin/login_signup/css/style.css">
</head>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
						<div class="text w-100">
							<h4>Welcome to Centurion Infotech</h4>
							<p>Happy To Have You!!</p>
						</div>
					</div>
					<div class="login-wrap p-4 p-lg-5">
						<div class="d-flex">
							<div class="w-100">
								<h3 class="mb-4">Sign In</h3>
							</div>
						</div>
						<form [formGroup]="loginporval" class="signin-form" (ngSubmit)="onSubmitportal()">
							<div class="form-group mb-3">
								<label class="label" for="password"> Email
								</label>
								<input type="text" class="form-control" aria-label="Email"
									[ngClass]="{ 'is-invalid': submitted && f.email.errors }"
									 placeholder="Email" formControlName="email">
								<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
									<div *ngIf="f.email.errors.required">Email is required</div>
									<div *ngIf="f.email.errors.email">
										Email must be a valid email address
									</div>
								</div>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password"> Password
								</label>
								<input type="password" class="form-control"
									[ngClass]="{ 'is-invalid': submitted && f.password.errors }"
									 placeholder="Password" formControlName="password">

								<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
									<div *ngIf="f.password.errors.required">Password is required</div>
									<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="label" for="password"> Company Code
								</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text form-control">S -</div>
									</div>
									<input type="text" class="form-control" maxlength="6" [value]="inputValue"
									[ngClass]="{ 'is-invalid': submitted && f.compcode.errors }"
									 placeholder="Company Code"
									formControlName="compcode">								</div>
							</div>
							<div class="text-center mt-3" style="position:relative;">
								<button class="btn btn-primary mr-1" style="margin-left: 3%;">Sign In</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50 text-left">
									<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#">Forgot Password?</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>