<!-- main app container -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">STAFF</b><b style="float: right;">Computer Science &
                        Engineering</b> <i class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i>
                </p>
            </div>
        </div>
    </div>


    <div class="mb-1">
        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
            style="float: right ;border: 0px;"><i class="bi bi-plus-circle-dotted"></i>
            Add Staff</button>
    </div>




    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user1.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Dr. Madhavi B. Desai</h5>
                <p class="card-text">HOD AND ASSOCIATE PROFESSOR</p>
                <p class="card-text">Ph. D. (CE)</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user3.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Ms. Bhavini R. Bhatt</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M.E. (CE), <br>
                    Ph. D. (Pursuing)</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user1.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Ms. Dharmishtha R. Chaudhari</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M.Tech (CE), Ph. D. (Pursuing)</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user4.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mr. Vivek C. Joshi</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M.Tech. (CS&E), <br>
                    Ph. D. (Pursuing</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user2.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mr. Dhaval J. Rana</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M.E. (I.T.) , Ph. D. (Pursuing)</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user4.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mr. Hemang J. Shah</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M.E (Computer Engg.)</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user5.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mr. Nikunj Y. Kansara</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M.Tech (CS&E)</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user4.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mr. Ankit D. Prajapati</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M.Tech (CSE)</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user3.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Ms. Henita H. Shah</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M.E. (CSE)</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user2.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mr. Bhavin A Kayasth</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M. Tech.</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user1.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Ms. Vaibhavi M Solanki</h5>
                <p class="card-text">ASSISTANT PROFESSOR</p>
                <p class="card-text">M. Tech. (CE)</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user3.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mrs. Twinkle Ankelshwaria</h5>
                <p class="card-text">ASSISTANT PROFESSOR </p>
                <p class="card-text"> M. E.(CSE)
                </p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user4.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mr. Urjit H. Bhatt</h5>
                <p class="card-text">LAB ASSISTANT</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user1.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Ms. Urvi B. Rathod</h5>
                <p class="card-text">LAB ASSISTANT</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user5.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mr. Vipul D. Mistry</h5>
                <p class="card-text">LAB ASSISTANT</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/users/user2.jpg" class="card-img-top" alt="Principal">
            <div class="card-body">
                <h5 class="card-title">Mr. Ankur T. Chauhan</h5>
                <p class="card-text">PEON</p>
                <a href="#" class="btn btn-primary">Change Details</a>
            </div>
        </div>
    </div>