<!-- main app container -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">PARENT/GUARDIANS</b>

                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="addparent()"
                        data-toggle="modal" data-target="#exampleModal" style="float: right;border: 0px;"><i
                            class="bi bi-plus-circle-dotted"></i>
                        Add Parent</button>
                </p>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; text-align: center;">FATHER</h5>

                <img src="../../../assets/images/users/user4.jpg" class="card-img-top" alt="Principal">
                <div class="card-body">
                    <h5 class="card-title">Mr. Mayank Tailor</h5>
                    <p class="card-text"><b>Contact No :- +919986543598</b></p>
                    <a href="#" class="btn btn-primary">Change Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; text-align: center;">MOTHER</h5>

                <img src="../../../assets/images/users/user1.jpg" class="card-img-top" alt="Principal">
                <div class="card-body">
                    <h5 class="card-title">Mrs. Nita Tailor</h5>
                    <p class="card-text"><b>Contact No :- +918986873548</b></p>
                    <a href="#" class="btn btn-primary">Change Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; text-align: center;">BROTHER</h5>

                <img src="../../../assets/images/users/user2.jpg" class="card-img-top" alt="Principal">
                <div class="card-body">
                    <h5 class="card-title">Mr. Pranil Tailor</h5>
                    <p class="card-text"><b>Contact No :- +917896541237</b></p>
                    <a href="#" class="btn btn-primary">Change Details</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; text-align: center;">SISTER</h5>

                <img src="../../../assets/images/users/user3.jpg" class="card-img-top" alt="Principal">
                <div class="card-body">
                    <h5 class="card-title">Ms. Pari Tailor</h5>
                    <p class="card-text"><b>Contact No :- +919874563214</b></p>
                    <a href="#" class="btn btn-primary">Change Details</a>
                </div>
            </div>
        </div>
    </div>

</div>