<!--========== NAV ==========-->
<div class="container-fluid">
  <div class="animate-menu-left">
    <nav class="nav__container">
      <a href="" class="nav__link nav__logo">
        <i></i>
        <span class="nav__logo-name"></span>
      </a>

      <div class="nav__list">
        <div class="nav__items">
          <a routerLink="" class="nav__link" (click)="dashboardportal()">
            <i class="bi bi-speedometer2 nav__icon"></i>
            <span class="nav__name">Dashboard</span>
          </a>
          <a routerLink="" class="nav__link" (click)="staff()">
            <i class='bi bi-person-video nav__icon'></i>
            <span class="nav__name">Staff</span>
          </a>

          <div class="nav__dropdown">
            <a routerLink="#" class="nav__link">
              <i class="bi bi-mortarboard nav__icon"></i>
              <span class="nav__name">Master</span>
              <i class="bi bi-caret-down nav__dropdown-icon"></i> 
            </a>
            <div class="nav__dropdown-collapse">
              <div class="nav__dropdown-content">
                <a (click)="subject()" routerLink="" class="nav__dropdown-item">Subject</a>
                <a (click)="facilities()" routerLink="" class="nav__dropdown-item">Facilities</a>
                <a (click)="driver()" routerLink="" class="nav__dropdown-item">Drivers</a>
                <a (click)="routes()" routerLink="" class="nav__dropdown-item">Routes</a>
              </div>
            </div>
          </div>

          <div class="nav__dropdown">
            <a routerLink="#" class="nav__link">
              <i class="bi bi-person-workspace nav__icon"></i>
              <span class="nav__name">Students</span>
              <i class="bi bi-caret-down nav__dropdown-icon"></i>
            </a>
            <div class="nav__dropdown-collapse">
              <div class="nav__dropdown-content">
                <a (click)="fees()" routerLink="" class="nav__dropdown-item">Fees</a>
                <a (click)="transportation()" routerLink="" class="nav__dropdown-item">Transportation</a>
                <a (click)="studymaterial()" routerLink="" class="nav__dropdown-item">Study Material</a>
                <a (click)="results()" routerLink="" class="nav__dropdown-item">Results</a>
                <a (click)="parents()" routerLink="" class="nav__dropdown-item">Parents</a>
                <a (click)="attendence()" routerLink="" class="nav__dropdown-item">Attendence</a>
              </div>
            </div>
          </div>

          <a (click)="homework()" routerLink="" class="nav__link">
            <i class="bi bi-book nav__icon"></i>
            <span class="nav__name">Homework</span>
          </a>

          <a (click)="timetable()" routerLink="" class="nav__link">
            <i class="bi bi-table nav__icon"></i>
            <span class="nav__name">Timetable</span>
          </a>

          <a (click)="portalcalendar()" routerLink="" class="nav__link">
            <i class="bi bi-calendar-range nav__icon"></i>
            <span class="nav__name">Calender</span>
          </a>

          <div class="nav__dropdown">
            <a routerLink="#" class="nav__link">
              <i class="bi bi-file-earmark-arrow-down nav__icon"></i>
              <span class="nav__name">Circular</span>
              <i class="bi bi-caret-down nav__dropdown-icon"></i> 
            </a>

            <div class="nav__dropdown-collapse">
              <div class="nav__dropdown-content">
                <a (click)="academic()" class="nav__dropdown-item">Academic</a>
                <a (click)="important()" class="nav__dropdown-item">Important</a>
                <a (click)="co_curricular()" class="nav__dropdown-item">Co-Curricular</a>
              </div>
            </div>
          </div>
          <a (click)="dailyquotes()" routerLink="" class="nav__link">
            <i class="bi bi-quote nav__icon"></i>
            <span class="nav__name">Daily Quotes</span>
          </a>

          <a (click)="settings()" routerLink="" class="nav__link">
            <i class="bi bi-gear nav__icon"></i>
            <span class="nav__name">Settings</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
<!--========== MAIN JS ==========-->
<script src="assets/js/main.js"></script>