<div class="card">
    <div class="card-body">
        <h4 class="card-title"> {{ 'list_sadmin.title' | translate }}
            <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#exampleModal"
                style="float: right;border: 0px;">
                <i class="bi bi-plus-circle-dotted"></i>
                {{ 'add_supadm.title' | translate }}
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ 'add_supadm.title' | translate }}</h5>
                            <button type="btn btn-outline-danger" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Full Name:</div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Email:</div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Password:</div>
                                </div>
                                <input type="password" class="form-control" id="inlineFormInputGroup">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </h4>
        <div class="table-responsive">
            <table class="table table-hover align-middle text-nowrap table-bordered">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">#</th>
                        <th class="text-dark font-medium fs-4">{{ 'u_name.title' | translate }}</th>
                        <th class="text-dark font-medium fs-4">{{ 'l_name.title' | translate }}</th>
                        <th class="text-dark font-medium fs-4">{{ 'email.title' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let tr of trow; index as i'>
                        <td>
                            {{ i + 1 }}
                        </td>
                        <td>
                            {{tr.fname}}
                        </td>
                        <td>
                            {{tr.lname}}
                        </td>
                        <td>
                            {{tr.gmail}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>