<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">Home Work</b>
                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                        data-target="#exampleModal" style="float: right;border: 0px;">
                        <i class="bi bi-plus-circle-dotted"></i>Add Homework</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <div class="card" style="background-color:lightblue;">
                            <h4 class="card-title m-3">This Month</h4>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i> AI Assignment-2
                                    </small>
                                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="submit()"
                                        data-toggle="modal" data-target="#exampleModal"
                                        style="float: right;border: 0px;">
                                        Submit</button>
                                    <input type="file" style="float: right;">
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i> ML
                                        Assignment-3</small>
                                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="submit()"
                                        data-toggle="modal" data-target="#exampleModal"
                                        style="float: right;border: 0px;">
                                        Submit</button>
                                    <input type="file" style="float: right;">
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i>Android
                                        Assignment-1 </small>
                                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="submit()"
                                        data-toggle="modal" data-target="#exampleModal"
                                        style="float: right;border: 0px;">
                                        Submit</button>
                                    <input type="file" style="float: right;">
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i>Computer
                                        Networks Assignment-4</small>
                                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="submit()"
                                        data-toggle="modal" data-target="#exampleModal"
                                        style="float: right;border: 0px;">
                                        Submit</button>
                                    <input type="file" style="float: right;">
                                </div>
                            </div>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i> Data Structure
                                        Algorithm </small>
                                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="submit()"
                                        data-toggle="modal" data-target="#exampleModal"
                                        style="float: right;border: 0px;">
                                        Submit</button>
                                    <input type="file" style="float: right;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 style="text-align: center;"> <i class="bi bi-dot" style="color: red;"></i> Note: Please Submit Your
                    Home-Work On Time .<br>
                </h6>
            </div>
        </div>
    </div>
</div>