<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">TimeTable</b><b style="float: right;">R.N.G.P.I.T</b>
                    <i class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card m-3" style="border-radius: 0.25rem;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">SR NO</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>10:00<br>
                                                    To<br>
                                                    10:55</td>
                                                <td>AI <br>
                                                    HJS</td>
                                                <td>ML<br>
                                                    VCJ</td>
                                                <td>ANDROID<br>
                                                    NYK</td>
                                                <td>CD<br>
                                                    BRB</td>
                                                <td>CN<br>
                                                    DJR</td>
                                                <td>CG<br>
                                                    BAK</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>11:00<br>
                                                    To<br>
                                                    11:55</td>
                                                <td>CD<br>
                                                    BRB</td>
                                                <td>AI <br>
                                                    HJS</td>
                                                <td>CG<br>
                                                    BAK</td>
                                                <td>CN<br>
                                                    DJR</td>
                                                <td>ML<br>
                                                    VCJ</td>
                                                <td>ANDROID<br>
                                                    NYK</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>11:55<br>
                                                    To<br>
                                                    12:50</td>
                                                <td>ANDROID<br>
                                                    NYK</td>
                                                <td>CN<br>
                                                    DJR</td>
                                                <td>ML<br>
                                                    VCJ</td>
                                                <td>AI <br>
                                                    HJS</td>
                                                <td>CG<br>
                                                    BAK</td>
                                                <td>CD<br>
                                                    BRB</td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align: center; font-weight: bold;">Break
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>1:20<br>
                                                    To<br>
                                                    2:15</td>
                                                <td>ML<br>
                                                    VCJ</td>
                                                <td>DS<br>
                                                    DRC</td>
                                                <td>DBMS<br>
                                                    MBD</td>
                                                <td>CG<br>
                                                    BAK</td>
                                                <td>CD<br>
                                                    BRB</td>
                                                <td>AI <br>
                                                    HJS</td>


                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>2:15<br>
                                                    To<br>
                                                    3:10</td>
                                                <td>DS<br>
                                                    DRC</td>
                                                <td>CG<br>
                                                    BAK</td>
                                                <td>CD<br>
                                                    BRB</td>
                                                <td>ML<br>
                                                    VCJ</td>
                                                <td>AI <br>
                                                    HJS</td>

                                                <td>DBMS<br>
                                                    MBD</td>



                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align: center; font-weight: bold;">Break
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>3:20<br>
                                                    To<br>
                                                    5:10</td>
                                                <td rowspan="2">ANDROID<br>
                                                    NYK</td>
                                                <td rowspan="2">CN<br>
                                                    DJR</td>
                                                <td rowspan="2">ML<br>
                                                    VCJ</td>
                                                <td rowspan="2">AI <br>
                                                    HJS</td>
                                                <td rowspan="2">CG<br>
                                                    HJS</td>
                                                <td rowspan="2">CD<br>
                                                    BRB</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <button class="btn btn-info" onclick="window.print()">Print</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>