<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">FACILITIES</b><b style="float: right;">R.N.G.P.I.T</b> <i
                        class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i>
                </p>

            </div>
        </div>
    </div>

    <div class="mb-1">
        <button type="button" class="btn btn-sm btn-outline-primary" 
        data-toggle="modal" data-target="#exampleModal" style="float: right ;border: 0px;"><i
            class="bi bi-plus-circle-dotted"></i>
        Add Facilities</button>
    </div>


    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hostel & Canteen</h5>
                <div class="col-md-12">
                    <div class="card">
                        <img src="../../../assets/images/hostel/13027.jpg" class="card-img-top" alt="Principal">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <img src="../../../assets/images/canteen/4386.jpg" class="card-img-top" alt="Principal">
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Library & Laboratory</h5>
                <div class="col-md-12">
                    <div class="card">
                        <img src="../../../assets/images/library/lib_1_567x379.jpg" class="card-img-top" alt="Principal">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <img src="../../../assets/images/computer_lab/class_567x384.jpg" class="card-img-top" alt="Principal">
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Auditorium & Workshop</h5>
                <div class="col-md-12">
                    <div class="card">
                        <img src="../../../assets/images/auditorium/1886.jpg" class="card-img-top" alt="Principal">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <img src="../../../assets/images/workshop/17633.jpg" class="card-img-top" alt="Principal">
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Classe & Transportation</h5>
                <div class="col-md-12">
                    <div class="card">
                        <img src="../../../assets/images/classroom/10790.jpg" class="card-img-top" alt="Principal">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <img src="../../../assets/images/transportation/bus_567x300.jpg" class="card-img-top" alt="Principal">
                    </div>
                </div>  
            </div>
        </div>
    </div>

</div>