<!-- main app container -->
<script src="./js/main.js"></script>
<div class="container flex-grow-1 flex-shrink-0 py-5">
    <div class="mb-5 p-4 bg-white shadow-sm">
        <h3>{{ 'add_client.title' | translate }}</h3>
        <div id="stepper1" #bsStepper class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
                <div class="step" data-target="#test-vl-1">
                    <button type="" class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-vl-1">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label"> {{ 'stepper1_label.title' | translate }} </span>
                    </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#test-vl-2">
                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger2"
                        aria-controls="test-vl-2">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label"> {{ 'stepper2_label.title' | translate }} </span>
                    </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#test-vl-3">
                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger3"
                        aria-controls="test-vl-3">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label"> {{ 'stepper3_label.title' | translate }} </span>
                    </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#test-vl-4">
                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger4"
                        aria-controls="test-vl-4">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label"> {{ 'stepper4_label.title' | translate }} </span>
                    </button>
                </div>
            </div>

            <!-- form-1 -->

            <div class="bs-stepper-content" style="margin-top: 100x;">
                <form [formGroup]="companyinfo" (ngSubmit)="onSubmit()">
                    <div id="test-vl-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepper1trigger1">
                        <div class="form-row">
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="col-6 col-lg-6 mt-3">
                                        <div class="form-floating mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Company Name*"
                                                formControlName="company_name">
                                            <label for="exampleInputCompanynameV1" class="form-label">
                                                {{ 'company_name.title' | translate }} </label>
                                            <div *ngIf="submitted && f.company_name.errors" class="invalid-feedback">
                                                <div *ngIf="f.company_name.errors.required">Company Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.website.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Website"
                                                formControlName="website">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'website.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                                                <div *ngIf="f.website.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Mobile"
                                                formControlName="mobile">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{ 'mobile.title'
                                                | translate }}
                                            </label>
                                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                                <div *ngIf="f.mobile.errors.required">Mobile Number is Required.
                                                    [Include Country Code For Eg.+91 For India]</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Phone"
                                                formControlName="phone">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{ 'phone.title'
                                                | translate }}
                                            </label>
                                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                                <div *ngIf="f.phone.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Email"
                                                formControlName="email">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{ 'email.title'
                                                | translate }}
                                            </label>
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Email is required</div>
                                                <div *ngIf="f.email.errors.email">
                                                    Email must be a valid email address
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.fax.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Fax" formControlName="fax">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{ 'fax.title' |
                                                translate }}
                                            </label>
                                            <div *ngIf="submitted && f.fax.errors" class="invalid-feedback">
                                                <div *ngIf="f.fax.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.company_type.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Type Of Company"
                                                formControlName="company_type">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'company_type.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && f.company_type.errors" class="invalid-feedback">
                                                <div *ngIf="f.company_type.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control" onfocus="(this.type = 'date')"
                                                [ngClass]="{ 'is-invalid': submitted && f.company_active.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Company Active Since"
                                                formControlName="company_active">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'company_active.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && f.company_active.errors" class="invalid-feedback">
                                                <div *ngIf="f.company_active.errors.required">Please Select Date</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="number" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.company_size.errors }"
                                                id="floatingInputCompanynameV1" min="0" placeholder="company Size"
                                                formControlName="company_size">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'company_size.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && f.company_size.errors" class="invalid-feedback">
                                                <div *ngIf="f.company_size.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.company_division.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Division"
                                                formControlName="company_division">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'company_division.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && f.company_division.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.company_division.errors.required">Please Select Date</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-primary mr-1" style="float: right;"> {{'next.title' | translate}}
                            </button>
                        </div>
                    </div>
                </form>

                <!-- form-2 -->

                <form [formGroup]="address_info" (ngSubmit)="onSubmit2()">
                    <div id="test-vl-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepper1trigger2">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <div class="form-floating mx-auto px-auto my-auto py-auto">
                                    <select class="form-select"
                                        [ngClass]="{ 'is-invalid': submitted && g.company_status.errors }"
                                        aria-placeholder="Company Status" formControlName="company_status">
                                        <option value="" selected></option>
                                        <option value="1"> {{ 'active.title' | translate }} </option>
                                        <option value="2"> {{ 'inactive.title' | translate }} </option>
                                    </select>
                                    <label for="floatingSelectCompanystatusV1"> {{ 'company_status.title' | translate }}
                                    </label>
                                    <div *ngIf="submitted && g.company_status.errors " class="invalid-feedback">
                                        <div *ngIf="g.company_status.errors.required">Select Company Status
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && g.address.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Website"
                                                formControlName="address">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'address.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && g.address.errors" class="invalid-feedback">
                                                <div *ngIf=" g.address.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && g.state.errors }"
                                                id="floatingInputCompanynameV1" placeholder="State"
                                                formControlName="state">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{ 'state.title'
                                                | translate }}
                                            </label>
                                            <div *ngIf="submitted && g.state.errors" class="invalid-feedback">
                                                <div *ngIf="g.state.errors.required">Please Provide Valid State.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && g.zip_code.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Zip Code"
                                                formControlName="zip_code">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'zip_code.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted &&  g.zip_code.errors" class="invalid-feedback">
                                                <div *ngIf=" g.zip_code.errors.required">Please Provide Valid Zip Code.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && g.country.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Country"
                                                formControlName="country">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'country.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && g.country.errors" class="invalid-feedback">
                                                <div *ngIf="g.country.errors.required">Please Provide Valid Country.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && g.whatsapp.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Whatsapp"
                                                formControlName="whatsapp">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'whatsapp.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && g.whatsapp.errors" class="invalid-feedback">
                                                <div *ngIf="g.whatsapp.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && g.twitter.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Twitter"
                                                formControlName="twitter">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'twitter.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && g.twitter.errors" class="invalid-feedback">
                                                <div *ngIf="g.twitter.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && g.instagram.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Instagram"
                                                formControlName="instagram">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'instagram.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && g.instagram.errors" class="invalid-feedback">
                                                <div *ngIf="g.instagram.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && g.facebook.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Facebook"
                                                formControlName="facebook">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'facebook.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && g.facebook.errors" class="invalid-feedback">
                                                <div *ngIf="g.facebook.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-primary" (click)="previous()" style="float: left;">{{'previous.title'
                                | translate}}
                            </button>
                            <button class="btn btn-primary mr-1" style="float: right;"> {{'next.title' | translate}}
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Form --- 3 -->

                <form [formGroup]="contactperson_info" (ngSubmit)="onSubmit3()">
                    <div id="test-vl-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepper1trigger3">
                        <div class="form-row">
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && h.contactperson_name.errors }"
                                                id="floatingInputCompanynameV1" placeholder="Contact Person Name*"
                                                formControlName="contactperson_name">
                                            <label for="exampleInputCompanynameV1" class="form-label">
                                                {{ 'contact_person_name.title' | translate }} </label>
                                            <div *ngIf="submitted && h.contactperson_name.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="h.contactperson_name.errors.required">Contact Person Name is
                                                    required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && h.contactperson_title.errors }"
                                                id="floatingInputCompanynameV1" placeholder="title"
                                                formControlName="contactperson_title">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'contact_person_title.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && h.contactperson_title.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="h.contactperson_title.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && h.contactperson_email.errors }"
                                                id="floatingInputCompanynameV1"
                                                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                                placeholder="contactperson_email" formControlName="contactperson_email">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'contact_person_email.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && h.contactperson_email.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="h.contactperson_email.errors.required">Please provide valid
                                                    E-mail.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && h.contactperson_mobile.errors }"
                                                id="floatingInputCompanynameV1" placeholder="contactperson_mobile"
                                                formControlName="contactperson_mobile">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'contact_person_mobile.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && h.contactperson_mobile.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="h.contactperson_mobile.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && h.contactperson_phone.errors }"
                                                id="floatingInputCompanynameV1" placeholder="contactperson_Phone"
                                                formControlName="contactperson_phone">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'contact_person_phone.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && h.contactperson_phone.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="h.contactperson_phone.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && h.contactperson_whatsapp.errors }"
                                                id="floatingInputCompanynameV1" placeholder="contactperson_whatsapp"
                                                formControlName="contactperson_whatsapp">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'contact_person_whatsapp.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && h.contactperson_whatsapp.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="h.contactperson_whatsapp.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-4 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && h.contactperson_twitter.errors }"
                                                id="floatingInputCompanynameV1" placeholder="contactperson_twitter"
                                                formControlName="contactperson_twitter">
                                            <label for="exampleInputCompanynameV1" class="form-label">
                                                {{ 'contact_person_twitter.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && h.contactperson_twitter.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="h.contactperson_twitter.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-4 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && h.contactperson_instagram.errors }"
                                                id="floatingInputCompanynameV1" min="0" placeholder="Company Size"
                                                formControlName="contactperson_instagram">
                                            <label for="exampleInputCompanynameV1" class="form-label">
                                                {{ 'contact_person_instagram.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && h.contactperson_instagram.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="h.contactperson_instagram.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-4 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && h.contactperson_facebook.errors }"
                                                id="floatingInputCompanynameV1" placeholder="contactperson_facebook"
                                                formControlName="contactperson_facebook">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'contact_person_facebook.title' | translate }}
                                            </label>
                                            <div *ngIf="submitted && h.contactperson_facebook.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="h.contactperson_facebook.errors.required">Please Select Date
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-primary" (click)="previous()" style="float: left;">{{'previous.title'
                                | translate}}
                            </button>
                            <button class="btn btn-primary mr-1" style="float: right;">{{'next.title' |
                                translate}}</button>
                        </div>
                    </div>
                </form>

                <!-- Form - 4  -->

                <form [formGroup]="billing_info" (ngSubmit)="onSubmit4()">
                    <div id="test-vl-4" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepper1trigger4">
                        <div class="form-row">
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating mx-auto px-auto my-auto py-auto">
                                            <select class="form-select"
                                                [ngClass]="{ 'is-invalid': submitted && i.billing_selectplan.errors }"
                                                aria-placeholder="billing_selectplan"
                                                formControlName="billing_selectplan">
                                                <option value="" selected></option>
                                                <option value="1"> {{ 'basic.title' | translate }} </option>
                                                <option value="2"> {{ 'standard.title' | translate }} </option>
                                                <option value="3"> {{ 'professional.title' | translate }} </option>
                                                <option value="4"> {{ 'executive.title' | translate }} </option>
                                                <option value="5"> {{ 'enterprise.title' | translate }} </option>
                                            </select>
                                            <label for="floatingSelectCompanystatusV1"> {{ 'select_plan.title'
                                                |translate }}
                                            </label>
                                            <div *ngIf="submitted && i.billing_selectplan.errors "
                                                class="invalid-feedback">
                                                <div *ngIf="i.billing_selectplan.errors.required">Select a Valid Plan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.billingperson_name.errors }"
                                                id="floatingInputCompanynameV1" placeholder="billingperson_name"
                                                formControlName="billingperson_name">
                                            <label for="exampleInputCompanynameV1" class="form-label">
                                                {{ 'billing_person_name.title' |translate }}
                                            </label>
                                            <div *ngIf="submitted && i.billingperson_name.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="i.billingperson_name.errors.required">Please Provide a Valid
                                                    Name.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.billingperson_email.errors }"
                                                id="floatingInputCompanynameV1"
                                                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                                placeholder="billingperson_email" formControlName="billingperson_email">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'billing_person_email.title' |translate }}
                                            </label>
                                            <div *ngIf="submitted && i.billingperson_email.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="i.billingperson_email.errors.required">Please Provide valid
                                                    E-mail.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.billingperson_mobile.errors }"
                                                id="floatingInputCompanynameV1" placeholder="billingperson_mobile"
                                                formControlName="billingperson_mobile">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'billing_person_mobile.title' |translate }}
                                            </label>
                                            <div *ngIf="submitted && i.billingperson_mobile.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="i.billingperson_mobile.errors.required"> Please Provide a
                                                    Valid
                                                    Mobile Number.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.billingperson_address.errors }"
                                                id="floatingInputCompanynameV1" placeholder="billingperson_address"
                                                formControlName="billingperson_address">
                                            <label for="exampleInputCompanynameV1" class="form-label">
                                                {{ 'billing_person_address.title' |translate }}
                                            </label>
                                            <div *ngIf="submitted && i.billingperson_address.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="i.billingperson_address.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.billingperson_city.errors }"
                                                id="floatingInputCompanynameV1" placeholder="billingperson_city"
                                                formControlName="billingperson_city">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'billing_person_city.title' |translate }}
                                            </label>
                                            <div *ngIf="submitted && i.billingperson_city.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="i.billingperson_city.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.billingperson_state.errors }"
                                                id="floatingInputCompanynameV1" placeholder="billingperson_state"
                                                formControlName="billingperson_state">
                                            <label for="exampleInputCompanynameV1" class="form-label">
                                                {{ 'billing_person_state.title' |translate }}
                                            </label>
                                            <div *ngIf="submitted && i.billingperson_state.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="i.billingperson_state.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mt-3">
                                        <div class="form-floating  mx-auto px-auto my-auto py-auto">
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && i.billingperson_zipcode.errors }"
                                                id="floatingInputCompanynameV1" min="0"
                                                placeholder="billingperson_zipcode"
                                                formControlName="billingperson_zipcode">
                                            <label for="exampleInputCompanynameV1" class="form-label"> {{
                                                'billing_person_zip_code.title' |translate }}
                                            </label>
                                            <div *ngIf="submitted && i.billingperson_zipcode.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="i.billingperson_zipcode.errors.required"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-primary" (click)="previous()" style="float: left;">
                                {{'previous.title' | translate}} </button>
                            <button class="btn btn-primary mr-1" style="float: right;"> {{'submit.title' | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>