<div class="row">
    <div class="col-12 mt-2">
        <div class="card">
            <div class="row">
                <div class="card col-2 m-3">
                    <div class="card">
                        <img src="../../../../../assets/images/users/user4.jpg" style="border-radius: 50%;">
                    </div>
                </div>
                <div class="card-body col-9 mt-5">
                    <h4 class="card-title">Good Job, <b>Krunal</b>. Keep Going!!</h4>
                    <p class="card-text">You've completed your 80% of tasks this week. Keep it up and improve your result.
                        Your progress is very good!!!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">English Vocabulary Test</h4>
                <p class="card-text"><i class="bi bi-clock"></i> 25, March, 2022. 04:00 PM</p>
            </div>
        </div>
    </div>
    <div class="col-6 mt-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Science Homework Submission</h4>
                <p class="card-text"><i class="bi bi-clock"></i> 28, March, 2022. 04:00 PM</p>
            </div>
        </div>
    </div>
</div>