<div class="card">
    <div class="card-body">
        <h4 class="card-title">Upcoming Classes</h4>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="background-color: antiquewhite; border-radius: 0.25rem;">
                        <h4 class="card-title">English Vocabulary Test</h4>
                        <small class="card-text"><i class="bi bi-clock"></i> 25, March, 2022. 04:00 PM</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="background-color: aqua; border-radius: 0.25rem;">
                        <h4 class="card-title">Science Homework Submission</h4>
                        <small class="card-text"><i class="bi bi-clock"></i> 28, March, 2022. 04:00 PM</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="background-color: aquamarine; border-radius: 0.25rem;">
                        <h4 class="card-title">Science Homework Submission</h4>
                        <small class="card-text"><i class="bi bi-clock"></i> 28, March, 2022. 04:00 PM</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>