<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">ROUTES</b><b style="float: right;">R.N.G.P.I.T</b> <i
                        class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i>
                </p>

            </div>
        </div>
    </div>
    
    <div class="mb-1">
        <button type="button" class="btn btn-sm btn-outline-primary" 
        data-toggle="modal" data-target="#exampleModal" style="float: right ;border: 0px;"><i
            class="bi bi-plus-circle-dotted"></i>
        Add Route</button>
    </div>
    
   

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Route : 1</h5>
                <h6 class="card-subtitle mb-2 text-muted"><b><i class="bi bi-geo-alt-fill"></i> R.N.G.P.I.T</b></h6>
                <p class="card-text"><i class="bi bi-three-dots-vertical" style="text-align: center;"></i> <br>
                    <i class="bi bi-geo-fill"></i> Dhulia Chokdi <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Linear Bus Stand <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Alankar Multiplex <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Railway Station <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Swami Narayan Mandir <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Jalaram Mandir <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Court <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                </p>

                <h6 class="card-subtitle mb-2 text-muted"><b><i class="bi bi-geo-alt-fill"></i> R.N.G.P.I.T</b></h6>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Route : 2</h5>
                <h6 class="card-subtitle mb-2 text-muted"><b><i class="bi bi-geo-alt-fill"></i> R.N.G.P.I.T</b></h6>
                <p class="card-text"><i class="bi bi-three-dots-vertical" style="text-align: center;"></i> <br>
                    <i class="bi bi-geo-fill"></i> Dhulia Chokdi <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Court <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> R.T.O Office <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Shivaji Chowk <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Swami Narayan Mandir <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Railway Station <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                    <i class="bi bi-geo-fill"></i> Linear Bus Stand <br>
                    <i class="bi bi-three-dots-vertical"></i> <br>
                </p>

                <h6 class="card-subtitle mb-2 text-muted"><b><i class="bi bi-geo-alt-fill"></i> R.N.G.P.I.T</b></h6>
            </div>
        </div>
    </div>

</div>