<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
          <b style="text-align: center;">DRIVERS</b><b style="float: right;">R.N.G.P.I.T</b> <i class="bi bi-dot"
            style="float: right;"></i> <i class="bi bi-house-door" style="float: right;"></i>
        </p>

      </div>
    </div>
  </div>

  <div class="mb-1">
    <button type="button" class="btn btn-sm btn-outline-primary" 
    data-toggle="modal" data-target="#exampleModal" style="float: right ;border: 0px;"><i
        class="bi bi-plus-circle-dotted"></i>
    Add Driver</button>
</div>


  <div class="col-md-3">
    <div class="card">
      <img src="../../../assets/images/users/user5.jpg" class="card-img-top" alt="Principal">
      <div class="card-body">
        <h5 class="card-title">Ashwin Bhai</h5>
        <h6 class="card-text"><b>Bus No :- 1 : GJ19BA4342</b></h6>
        <p class="card-text">Morning Time : 8:45 AM <br>
          Evening Time : 3:15 PM <br>
        Route No :- 2</p>
        <a href="#" class="btn btn-primary">Change Details</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="../../../assets/images/users/user4.jpg" class="card-img-top" alt="Principal">
      <div class="card-body">
        <h5 class="card-title">Dipak Bhai</h5>
        <h6 class="card-text"><b>Bus No :- 2 : GJ19SS8521</b></h6>
        <p class="card-text">Morning Time : 9:15 AM <br>
          Evening Time : 5:20 PM <br>
        Route No :- 1</p>
        <a href="#" class="btn btn-primary">Change Details</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="../../../assets/images/users/user2.jpg" class="card-img-top" alt="Principal">
      <div class="card-body">
        <h5 class="card-title">Jitu Bhai</h5>
        <h6 class="card-text"><b>Bus No :- 3 : GJ19AC7894</b></h6>
        <p class="card-text">Morning Time : 8:45 AM <br>
          Evening Time : 3:15 PM <br>
        Route No :- 1</p>
        <a href="#" class="btn btn-primary">Change Details</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="../../../assets/images/users/user5.jpg" class="card-img-top" alt="Principal">
      <div class="card-body">
        <h5 class="card-title">Mitesh Bhai</h5>
        <h6 class="card-text"><b>Bus No :- 4 : GJ19AB4785</b></h6>
        <p class="card-text">Morning Time :9:15 AM  <br>
          Evening Time : 5:20 PM <br>
        Route No :- 2</p>
        <a href="#" class="btn btn-primary">Change Details</a>
      </div>
    </div>
  </div>
  
</div>