<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><i class="bi bi-arrow-left" style="float: left;"></i> &nbsp; &nbsp; &nbsp; &nbsp;
                    <b style="text-align: center;">Circulars <i class="bi bi-dot"></i> Co-Curricular Circulars</b><b
                        style="float: right;">R.N.G.P.I.T</b>
                    <i class="bi bi-dot" style="float: right;"></i> <i class="bi bi-house-door"
                        style="float: right;"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Co-Curricular Circulars
                    <button type="button" class="btn btn-sm btn-outline-primary" 
                    data-toggle="modal" data-target="#exampleModal" style="float: right;border: 0px;"><i
                        class="bi bi-plus-circle-dotted"></i>
                    Add Circular</button></h4>
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="background-color:lightblue;">
                            <h4 class="card-title m-3">Current Semester Circulars</h4>
                            <div class="card m-3">
                                <div class="card-body col-12" style="border-radius: 0.25rem;">
                                    <small class="card-text"><i class="bi bi-file-earmark-text m-2"></i>Blood Donation Camp on 19th February , 2022 Organized by R.N.G Patel institute of Technology, Bardoli.</small>
                                    <a style="float: right;"
                                        href="https://s3-ap-southeast-1.amazonaws.com/gtusitecirculars/uploads/Blood%20Donation_861204.pdf"
                                        target="_blank"><i class="bi bi-filetype-pdf"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 style="text-align: center;"> <i class="bi bi-dot" style="color: red;"></i> Note: Visit Daily for
                    Fresh Circulars.<br>
                </h6>
            </div>
        </div>
    </div>
</div>