<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h4 class="card-title" style="text-align: center; font-size: xx-large;">{{'sidebar_Aboutus.title' | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <p class="text-muted" style="font: size 16px; width: 100%;margin-top: 80px;">{{ 'aboutusconst.title' | translate }}</p>
                <br>
                <a href="https://centurioninfotech.com/" class="btn btn-primary">Explore More</a>
            </div>
            <div class="col-5">
                <img src="assets/images/bg/about.png" class="img-fluid" alt="centurion-ang-bg" style="width: 100%;" />
            </div>
        </div>

    </div>
</div>