<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<!-- <ul class="navbar-nav float-start me-auto"> -->

<!-- ============================================================== -->
<!-- create new -->
<!-- ============================================================== -->
<!-- <li>
    <form class="d-flex mt-3 pl-5">
      <input class="form-control me-3" style="float: right;" type="search" placeholder="Search" aria-label="Search">
    </form>
  </li>
  <button class="btn btn-light btn-sm mt-2" style="float: right;" (click)="useLanguage('en')">English</button>
  <button class="btn btn-light btn-sm mt-2" style="float: right;" (click)="useLanguage('es')">Español</button> -->





<!-- </ul> -->


<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<!-- <ul class="navbar-nav float-end"> -->
<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<div class="row">

  <div class="col-10">
    <form class="d-flex mt-1 pl-5" style="margin-left: 2%;">
      <input class="form-control me-3" style="float: right;" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light btn-sm mt-0" style="margin-left: 1%; margin-right: 1%;" (click)="useLanguage('en')">English</button>

      <button class="btn btn-light btn-sm mt-0"  (click)="useLanguage('es')">Español</button>
    </form>
   
    </div>

  <div class="nav-item col-2" ngbDropdown placement="bottom-end">
    <a ngbDropdownToggle class="nav-link waves-effect waves-dark pro-pic" href="javascript:void(0)"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="assets/images/users/user4.jpg" alt="user" class="rounded-circle" width="31" />
      <span class="ms-2" style="color: blue;">Krunal Tailor</span>
    </a>
    <div class="dropdown-menu-right" ngbDropdownMenu>
      <a class="dropdown-item" href="javascript:void(0)"> My Profile</a>
      <a class="dropdown-item" href="javascript:void(0)"> My Balance</a>
      <a class="dropdown-item" href="javascript:void(0)"> Inbox</a>
      <a class="dropdown-item" href="javascript:void(0)"(click)="setting()"> Account Setting</a>
      <a class="dropdown-item" href="javascript:void(0)"(click)="logout()"> Logout</a>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<!-- </ul> -->